{% extends "base.html" %} 

<html>
    <head>
        {% block title %}
        <title>Form</title>
    </head>
    {% endblock %}
    <body>
        {% block content %}
        {% if errors %}
                 <div class="text-success">
                        {{ errors }} 
                </div>
        {% endif %}        
        {% if tada %}
            <form method="POST" action={% url 'librehatti.suspense.views.tada_result' %} >
        {% else %}
            <form method="POST" action=''>
        {% endif %}
            {% csrf_token %}
        <table> 
            {{form.as_table}}
        </table>
            <input type="submit" class="btn btn-info btn-large" value="Submit">
        </form> 
        {% endblock %}
    </body>
</html>
