{% extends 'base_register.html' %}
{% load i18n %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>
        Mark Order Clear
    </title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class='list-results'>
        <h2>Mark Order Clear</h2>
        {% if messages %}
        {{ messages }}
        {% endif %}
        <table class='mark_clear_table'  border='1px'>
            <tr>
                <th>S.No</th>
                <th>Voucher</th>
                <th>Name</th>
                <th>Address</th>
                <th>Test date</th>
                <th>Clear date</th>
                <th>Summary</th>
                <th>Status</th>
            </tr>
            {% for temp_var in listed %}
            <tr>
                <td>{{ forloop.counter }}</td>
            {% for voucher_var,suspense_var in temp_var %}
                <td>{{ suspense_var.voucher_no }}</td>
                <td>{{ voucher_var.purchase_order__buyer__first_name }} {{ voucher_var.purchase_order__buyer__last_name }}</td>
                <td>{{voucher_var.purchase_order__buyer__customer__address__street_address}},{{voucher_var.purchase_order__buyer__customer__address__district}},{{voucher_var.purchase_order__buyer__customer__address__province}}</td>
                <td>{{ suspense_var.test_date }}</td>
                <td>{{ suspense_var.clear_date }}</td>
                <td>
                    {% for voucher_cleared in suspense_cleared %}
                    {% if voucher_cleared.voucher == suspense_var.voucher_no and voucher_cleared.session_id == suspense_var.session %}
                        <a href='voucher_no={{suspense_var.voucher_no}}&session={{suspense_var.session}}' class='summary'><span class="mark_clear_button">Show Summary</span></a>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for voucher_cleared in suspense_cleared %}
                    {% if voucher_cleared.voucher == suspense_var.voucher_no and voucher_cleared.session_id == suspense_var.session %}
                        {% if voucher_cleared.is_cleared == 1 %}
                        <a href='{% url 'suspense:clearance_options'%}?voucher_no={{suspense_var.voucher_no}}&session={{suspense_var.session}}'>Clearance Options</a>
                        {% else %}
                        <a href='voucher_no={{suspense_var.voucher_no}}&session={{suspense_var.session}}' class='mark_clear'><img src="{% static 'icons/Clean-128.png' %}"><span class="mark_clear_button">Mark Clear</span></a>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
    </div>
    {% endblock %}
</body>
</html>
