{% extends 'base.html' %}
{% load i18n %} {% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
{% block title %}
<title>Add Distance</title>
    {% endblock %}
</head>
<body>
  {% block content %}

<form method = 'POST' action = ''>
	 {% csrf_token %}
<table>
<tr>
<td>Order:<input type="text" name = "order" readonly="readonly" class = "quoteorder" size="7" 
	id="quoteorder" value="{{quoted_order_id}}"></td>
</tr>
<tr>
<td>Distance:<input type="text" name="distance" class = "quotedistance" size = "7" 
	id="quotedistance" value="0"></td>
</tr>
</table>
<input type='submit' class="btn btn-info btn-large" value = 'Next'>
</form>
{% endblock %}
</body>
