{% extends 'base.html' %}
{% load i18n %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Add Distance</title>
    {% endblock %}
</head>
<body>
  {% block content %}

  <form method = 'POST' class="form-horizontal" action = ''>
      {% csrf_token %}
      <table>
        <tr>
            <td>Order:<input type="text" name = "order" readonly="readonly" class = "quoteorder form-control" size="7"
               id="quoteorder" value="{{quoted_order_id}}"></td>
            <td>Distance:<input type="text" name="distance" class = "quotedistance form-control" size = "7"
               id="quotedistance" value="0"></td>
        </tr>
       </table>
       <input type='submit' class="btn btn-info btn-large quotedadddistancesave" value = 'Next'>
   </form>
   {% endblock %}
</body>
