{% extends "base.html" %} {% load staticfiles %}

<html>
    <head>
        {% block title %}
        <title>Form</title>
        {% endblock %}
        {% block js %}
        <script src="{% static 'js/clearance.js' %}">
        </script>
        {% endblock js %}
    </head>
    <body>
        {% block content %}
        {% if clearance %}
            <form method="POST" action={% url 'librehatti.suspense.views.clearance_result' %} >
        {% else %}
            <form method="POST" action=''>
        {% endif %}
            {% csrf_token %}
        <table> 
            {{form.as_table}}
        </table>
            <input type="submit" class="btn btn-info btn-large" value="Submit">
        </form> 
        {% endblock %}
    </body>
</html>