{% extends "base.html" %} {% load static %}

<html>
<head>
    {% block title %}
    <title>Form</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    {% if clearance %}
    <form method="POST" action={% url 'suspense:clearance_result' %} >
        {% else %}
        <form method="POST" action=''>
            {% endif %}
            {% if messages %}
                <div class="alert alert-success">
                    {{ messages }} 
                </div>
                {% endif %}
            {% csrf_token %}
            <table>
              {% if message %}
              <div class="alert alert-danger">
                  {{ message }}
              </div>
              {% endif %}
              {{form.as_table}}
          </table>
          <input type="submit" class="btn btn-info btn-large" value="Submit" id="button1">
      </form>
      {% endblock %}
  </body>
  </html>