{% extends 'base_register.html' %}
{% load i18n %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   {% block title %}
   <title>Order added</title>
   {% endblock %}
</head>
<body>
  {% block content %}
  <div class='order-success'>
   <p class='success-message'>TA/DA added <span class='green'>
      Successfully</span></p>
        <table style="width:100%" border = "1px">
            <thead>
                <tr>
                    <th rowspan = "2">Name</th>
                    <th colspan = "3">Departure(up)</th>
                    <th colspan = "3">Arrival(up)</th>
                    <th colspan = "3">Departure(down)</th>
                    <th colspan = "3">Arrival(down)</th>
                    <th rowspan = "2">D.A.</th>
                </tr>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Station</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Station</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Station</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Station</th>
                </tr>
            </thead>
            <tbody>
                {% for temp_var in list_staff%}
                {% for daily_tada in temp_var%}
                <tr>
                    <td>{{daily_tada.name }}</td>
                    <td>{{tada.start_test_date}}</td>
                    <td>{{tada.departure_time_from_tcc}}</td>
                    <td>{{tada.source_site }}</td>
                    <td>{{tada.start_test_date}}</td>
                    <td>{{tada.arrival_time_at_site}}</td>
                    <td>{{tada.testing_site}}</td>
                    <td>{{tada.end_test_date}}</td>
                    <td>{{tada.departure_time_from_site}}</td>
                    <td>{{tada.testing_site}}</td>
                    <td>{{tada.end_test_date}}</td>
                    <td>{{tada.arrival_time_at_tcc}}</td>
                    <td>{{tada.source_site}}</td>
                    <td>{{daily_tada.daily_ta_da}}</td>
                </tr>
                {% endfor %}
                {% endfor %}
                <tr>
                    <td colspan = "13"><center><b>Amount</b></center></td>
                <td><b>{{ amount }}</b></td>
                </tr>
                {% for name, amount in tax_detail %}
                <tr>
                    <td colspan = "13"><center><b>{{name}}</b></center></td>
                    <td><b>{{amount}}</b></td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan = "13"><center><b>Total</b></center></td>
                <td><b>{{ total}}</b></td>
                </tr>
            </tbody>
        </table>
                 <div class='order-success-options'>
    <table>
       <tr>
           <td>

            <form id="myForm" action="{% url 'suspense:tada_result' %}" method="get">
           {% csrf_token %}
           <td><input type="submit" class="btn btn-info btn-large" value="Add another allowance" name='button1' id='button1' /></td>
             <input type="hidden" value="{{ session }}" name="session" />
             <input type="hidden" value="{{ voucher }}" name="voucher_no" />
           </form>

           </td>
           <form id="myForm" action="{% url 'suspense:tada_bill_list' %}" method="post">
           {% csrf_token %}
           <td><input type="submit" class="btn btn-info btn-large" value="Generate Bill" name='button1' id='button1' /></td>
             <input type="hidden" value="{{ session }}" name="session" />
             <input type="hidden" value="{{ voucher }}" name="voucher" />
           </form>
           <td></td>
       </tr>
           </table>
       </div>

   </div>
   {% endblock %}
</body>
</html>
