{% extends "base.html" %} 

{% block extrastyle %}
{% endblock %} 

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function() {
    $("#button2").click(function() {
        $("#id_kilometer").parent("p").clone().insertAfter($("#id_date").parent("p"));
        $("#id_date").parent("p").clone().insertAfter($("#id_date").parent("p"));
    });
});
</script>
{% endblock %} 

{% block content %}
<table>
    <tr>
        <td>
            <form action='{% url 'librehatti.suspense.views.transportbill' %}' method='POST'>
                {% if messages %}
                 <div class="text-success">
                        {{ messages }} 
                </div>
                {% endif %}
                {% csrf_token %}
                {{Transport.as_p}}
                <input type="hidden" value="{{ session }}" name="session" />
                <input type="hidden" value="{{ voucher }}" name="voucher" />
                <input type="submit" class="btn btn-info btn-large" value="Generate Bill" name='button1' id='button1' />
                <input type="button" class="btn btn-info btn-large" value="Add Another" name='button2' id='button2' />
            </form>
        </td>
    </tr>
</table>
{% endblock %}
