{% extends 'base_register.html' %}
{% load i18n %} {% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
   {% block title %}
   <title>Order added</title>
   {% endblock %}
</head>
<body>
  {% block content %}
  <div class='order-success'>
   <p class='success-message'>Charges added <span class='green'>
      Successfully</span></p>
    <div id = "transport_content">

        <table border="1" align="center">
            <tr>
                <th>Date of Use</th>
                <th>Distance(in Kms)</th>
                <th>Rate</th>
                <th>Amount</th>
            </tr>
            {% for date,km,amount in zip_data %}
            <tr>
                <td>
                    {{ date }} 
                </td>
                <td>
                    {{ km }}
                </td>
                <td>
                    {{ rate }}
                </td>
                <td>
                    {{ amount }}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan = "3"><center><b>Total</b></center></td>
                <td> {{ total_amount }}</td>
            </tr>
        </table>
         <div class='order-success-options'>
    <table>
       <tr>
           <td></td>
           <form id="myForm" action="{% url 'suspense:transport_bill' %}" method="post">
           {% csrf_token %}
           <td><input type="submit" class="btn btn-info btn-large" value="Generate Bill" name='button1' id='button1' /></td>
             <input type="hidden" value="{{ session }}" name="session" />
             <input type="hidden" value="{{ voucherid }}" name="voucher" />


           </form>
           <td></td>
       </tr>
           </table>
       </div>
    </div>
   </div>
   {% endblock %}
</body>
</html>