{% extends 'bill_base.html' %}
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/voucher.css' %}">
    {% block title %}
    <title>Clearance bill</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <br>
    <div class="voucher-no">Voucher : ________
        <div style = "text-align:right; float:right">
            Receipt/S.C.No: {{ purchase_order }}/{{sus_cleared_reg.suspenseclearednumber}}
        </div>
    </div>
    <div class="date">Dated : ________
        <div style = "text-align:right; float:right">
            Dated:{{date}}
        </div>
    </div>
    <div class="designation">Principal,</div>
    Received a sum of &#8377; {{total}}/- ( Rupees {{total_in_words}} only )
    vide
    {% if payment.purchase_order__mode_of_payment != 1 and payment.purchase_order__mode_of_payment != 4 %}
    {{payment.purchase_order__mode_of_payment__method}} No. {{payment.purchase_order__cheque_dd_number}} dated:{{payment.purchase_order__cheque_dd_date}}
    {% else %}
    {{payment.purchase_order__mode_of_payment__method}}
    {% endif %}
    from
    {% if address.purchase_order__buyer__first_name %}
    {{address.purchase_order__buyer__first_name}} {{address.purchase_order__buyer__last_name}}
    {% else %}
    {{address.purchase_order__buyer__customer__title}}
    {% endif %}
    , {{address.purchase_order__buyer__customer__address__street_address}}, {{address.purchase_order__buyer__customer__address__district}}
    {% if address.purchase_order__buyer__customer__address__pin != 'None' and address.purchase_order__buyer__customer__address__pin != '' %}
    , {{address.purchase_order__buyer__customer__address__pin}}
    {% endif %}
       , {{address.purchase_order__buyer__customer__address__province}}
        vide Bill No. GNDEC/TCC/B/{{purchase_order}} dated {{order_date}}
        on account of {{address.purchased_item__item__category__name}}, vide Receipt No. {{purchase_order}} dated {{order_date}}
        <div>Nature of Consultancy : {{ distribution }},  Ratio {{ ratio }} </div>
        <div id = "pos-left">
            <table border='1px'>
                <tr>
                    <td colspan="2"><b>THE DISTRIBUTION MAY BE MADE AS</b></td>
                    <td><b>Date Of Testing</b></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan={{rowspan}}>CREDITS</td>
                    <td>COLLEGE INCOME {{ charges.college_income }}% </td>
                    <td rowspan={{rowspan}}>{{test_date}}</td>
                    <td  id = "pos-right">{{ calculate_distribution.college_income_calculated }}</td>
                </tr>
                <tr>
                    <td>ADMN. CHARGES {{ charges.admin_charges }}% </td>
                    <td  id = "pos-right">{{ calculate_distribution.admin_charges_calculated}}</td>
                </tr>
                <tr>
                    <td>CONSULTANCY ASST. </td>
                    <td  id = "pos-right">{{ calculate_distribution.consultancy_asset }}</td>
                </tr>
                <tr>
                    <td>DEV. FUND (CONSULTANCY) </td>
                    <td  id = "pos-right">{{ calculate_distribution.development_fund }}</td>
                </tr>
                {% if suspense_clearance.work_charge != 0 %}
                <tr>
                    <td>Work Charges(CONSULTANCY)</td>
                    <td  id = "pos-right">{{ suspense_clearance.work_charge }}</td>
                </tr>
                {% endif %}
                {% if ta_da != 0 %}
                <tr>
                    <td>T.A/D.A Staff </td>
                    <td  id = "pos-right">{{ ta_da }}</td>
                </tr>
                {% endif %}
                {% if othercharge != 0 %}
                <tr>
                    <td>Other Charges </td>
                    <td  id = "pos-right">{{othercharge}}</td>
                </tr>
                {% endif %}
                {% if suspense_clearance.boring_charge_internal != 0 %}
                <tr>
                    <td>Boring Charges (Internal) </td>
                    <td  id = "pos-right">{{ suspense_clearance.boring_charge_internal }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td><b>TOTAL</b></td>
                    <td  id = "pos-right"><b>{{total}}</b></td>
                </tr>
            </table>
        </div>
        {% if field_staff %}
        <div class="testingfieldstaff">
            <table border='1px'>
                <tr>
                    <td colspan="2"><b>Field Testing Staff</b></td>
                </tr>
                <tr>
                    <td><b>Name</b></td>
                    <td><b>Designation</b></td>
                </tr>
                {% for field_staff_name in field_staff%}
                <tr>
                    <td>{{ field_staff_name.0 }}</td>
                    <td>{{ field_staff_name.1 }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
        {% if lab_staff %}
        <div class="testinglabstaff">
            <table border='1px'>
                <tr>
                    <td colspan="2"><b>Lab Testing Staff</b></td>
                </tr>
                <tr>
                    <td><b>Name</b></td>
                    <td><b>Designation</b></td>
                </tr>
                {% for lab_staff_name in lab_staff%}
                <tr>
                    <td>{{ lab_staff_name.0 }}</td>
                    <td>{{ lab_staff_name.1 }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
        <div style="clear:both;">
        </div>
        <div class="position">The work has been executed by the persons mentioned above.</div>
        <div class='footertable'>
            <table>
                <tr>
                    <td>Account Clerk (Consultancy)</td>
                    <td>Supdt. Accounts</td>
                    <td>Dean Testing and Consultancy</td>
                </tr>
            </table>
        </div>
        {% endblock %}
</body>
</html>
