<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" 
            href="http://192.168.15.178/static/css2/css/report.css " />
    <title>Bill</title></head>
    <div style="font-size:24px" align='center'><b>Guru Nanak Dev Engineering
        College</b></div>
    <div style="font-size:14px" align='center'>Gill Park,Gill Road,Ludhiana - 
        141006</div>
    <div style="font-size:24px" align='center'>Testing & Consultancy Cell</div>
    <!-- Header left begin-->
    <div style = "text-align:left; float:left;">
       Voucher No:_______
    </div>
    <!-- Header left end-->

    <!-- Header right begin-->
    <div style = "text-align:right; float:right">
        Main/Mat.No:_
    </div>
    <!-- Header right end--><br>
    <!-- Header left begin-->
    <div style = "text-align:left; float:left;">
        Dated:_______
    </div>
    <!-- Header left end-->
    <!-- Header right begin-->
    <div style = "text-align:right; float:right">
        Dated:_______
    </div>
    <!-- Header right end--> </head> <br>
    <br>
    <div align='left'>Director, </div>  
    <div align='left'>Recieved a sum of Rs {{total}}/- </div> <br>
    <div align='left'>Vide Cash,from :Swami Ganga Nand Ji Bhuriwala Memorial 
        Trust,(Regd),Dham Talwandi,,Dist Ludhiana </div> 
    <div align='left'>Vide bill no :{{bill_no}} Dated:{{test_date}} </div> 
    <div align='left'>On account of:{{acc_no}} Vide Receipt No:{{reciept_no}} 
    </div> <br>
    <div align='left'>Nature of Consultancy:{{nature}} </div> <br>
    <br>
    <style>
            <style>
            *{
                margin:0px;
                padding:0px;
            }
            body{
                background-color:white;
            }
            .t1
            {
                width: 100%;
                color:black;
                height: 50px;
            }
            .t2
            {
                padding: 0px;
                height: 100px;
                margin-right: 200px;
                width: 50%;
            }
            .t3
            {
                padding: 0px;
                height: 100px;
                margin-right: 200px;
                width: 50%;
            }
    </style>
    <div class ="t1">
            <table border="1">
            <thead>
                <tr>
                    <th colspan="2">THE DISTRIBUTION MAY BE MADE AS</th>
                    <th>DATE OF TESTING</th>
                    <th> </th>
                </tr>
    
                <tr>
                    <td rowspan=9><br><br><br>CREDITS<br><br></td>  
                    <td>COLLEGE INCOME (15%)</td>
                    <td rowspan=9><br><br>{{test_date}}<br><br><br></td>
                    <td>{{20}}</td>
                </tr>
    
                <tr>
                    <td>ADMN. CHARGES (5%)</td> 
                    <td>{{34}}</td>
                </tr>
    
                <tr>
                    <td>CONSULTANCY ASST.(CONSULTANCY)</td>
                    <td>{{56}}</td>
                </tr>
    
                <tr>
                    <td>DEV.FUND(CONSULTANCY)</td>
                    <td>{{34}}</td>
                </tr>
    
                <tr>
                    <td>WORK CHARGES</td>
                    <td>{{work_charge}}</td>
                </tr>
    
                <tr>
                    <td>T.A./D.A. OF STAFF</td>
                    <td>{{amnt}}</td>
                </tr>
    
                <tr>
                    <td>OTHER CHARGES</td>
                    <td>{{testing}}</td>
                </tr>
    
                <tr>
                    <td>BORING CHARGES(internal)</td>
                    <td>{{boring_int}}</td>
                </tr>

                <tr>
                    <td>TOTAL</td>
                    <td>{{ total }}</td>
                </tr>

            </table>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class ="t2">
            <table border="1">
                <tr>
                    <th>Field Testing Staff</th>
                    <th>Lab Testing Staff </th>
                </tr>
                <tr>
                    <td>{{1}}</td>
                    <td>{{3}}</td>
                </tr>
            </table> 
        </div>
        <br>
        <br>
        <div align='left'>THE WORK HAS BEEN EXECUTED BY ABOVE PERSONS AS 
            MENTIONED ABOVE</div> <br>
        Voucher No:_______ <br>
        Dated:___<br>
        <br>
        <br>
        <div align='right'>    DEAN TESTING AND CONSULTANCY </div> <br>
        <div align='left'> Account Clerk (Consultancy)  Supt.Accounts </div> <br>
        <br>
        <div class ="t3">
            <table border="1">
                <tr>
                    <th>Code </th>
                    <th>NAME OF EMPLOYEES </th>
                    <th>DESIGNATION</th>
                </tr>
                <tr>
                    <td>{{code}}</td>
                    <td>{{name}}</td>
                    <td>{{designation}}</td>
                </tr>
    
            </table>
        </div>

</html>
