{% extends "base.html" %}
{% block content %}

<!--
modified  url 'suspense:sessionselect' to make compatible with django2.0
File LibreHatti/src/librehatti/suspense/urls.py uses namespace for sessionselect
-->

<form action='{% url 'suspense:sessionselect' %}' method='POST'>
                {% if errors %}
                <div class="alert alert-danger">
                    {{ errors }}
                </div>
                {% endif %}
                {% csrf_token %}
                <table>
                {{SelectForm.as_table}}
                </table>
        <input type="submit" class="btn btn-info btn-large" value="Submit" name='button1' id='button1' />
    </form>
{% endblock %}
