{% extends "base.html" %}
{% block content %}
<form action='{% url 'librehatti.suspense.views.sessionselect' %}' method='POST'>
                {% if errors %}
                <div class="alert alert-danger">
                    {{ errors }}
                </div>
                {% endif %}
                {% csrf_token %}
                <table>
                {{SelectForm.as_table}}
                </table>
        <input type="submit" class="btn btn-info btn-large" value="Submit" name='button1' id='button1' />
    </form>
{% endblock %}
