{% extends 'base_register.html' %}
<html>
<head>
    {% block title %}
    <title>
        Your Vouchers
    </title> 
    {% endblock %}
    <style>
        .else { color : red ; }
        h1{text-align: center;}
        h2, .else { text-align :center; margin-top:5%; }
        table{display: inline-block;text-align: center;}
        table,th,td{border: 1px solid black; border-collapse: collapse;}
    </style>
</head>
<body>
    {% block content %}
    <div class="list-results">
        <h2>Voucher</h2>
        <div class="shrinked-table">
        {% if message != 'Voucher' %}
        <div class="alert alert-danger">
            <center>{{ message }}</center>
        </div>
        {% else %}
         <table border="1px">
            <tr>
                <th>Purchase Order</th> 
                <th>Voucher No</th>
                <th>Options</th>
            </tr>
            <tr>
                {% if voucherid %}
                {% for value in voucherid %}
                <td>{{ value.purchase_order_of_session }}</td>
                <td>{{ value.voucher_no }}</td>
                <td><a target="_blank" href = '{% url 'librehatti.voucher.views.voucher_print'%}?purchase_order={{value.purchase_order}}&voucher_no={{value.voucher_no}}&session={{value.session}}'>Generate Voucher</a> 
                {% for suspense_voucher in suspense_order %}
                {% if suspense_voucher.voucher == value.voucher_no %}
                |
                <a href = '{% url 'suspense:clearance_options'%}?voucher_no={{value.voucher_no}}&session={{value.session}}'>Clearance Options</a>
                {% endif %}
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    {% endif %}
    </div>
</div>
{% endblock %}
</body>
</html>