{% extends 'bill_base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    {% block title %}
    <title>Bill</title>
    {% endblock %}
    {% load set_var %}
</head>
<body>
    {% block content %}
    <div class = "bill-left">
        <span id ="highlight">STC No: </span>{{ stc_no.stc_no }}
        <span id = "dated"><span id ="highlight">PAN No. </span>{{ pan_no.pan_no }}</span>
    </div>
    <div class="container">
        <h2> Bill</h2>
    </div>
    <div class = "bill-left">
        <div><span id ="highlight">No. </span>GNDEC/TCC/B/{{id}} <span id = "dated"><span id ="highlight">Dated : </span>{{ date|date:"d M, Y" }}</span></div>
        <p> To </p>
        <div>
        {% if buyer.buyer__first_name %}
        {{buyer.buyer__first_name}} {{buyer.buyer__last_name}}
        {% else %}
        {{buyer.buyer__customer__title}}
        {% endif %},</div>
        <div>{{address.address__street_address}}, </div>
        <div>{{address.address__district}}
            {% if address.address__pin != 'None' and address.address__pin != '' %}
            -{{address.address__pin}}
            {% endif %},</div>
        <div>{{address.address__province}}</div>
        {% if buyer_name.company %}
        <div><b>Agency:</b> {{buyer_name.company}}</div>
        {% endif %}
            <p><span id ="highlight"> Ref: </span>{{ref_letter}} {{ref.reference}} dated {{ref.reference_date}}</p>
            <p><span id ="highlight"> Site: </span>{{site.delivery_address}}</p>
        </div>
        <table class="data" border="1px">
            <tr>
                <th>Item/Services</th>
                <th>Quantity/Unit</th>
                <th>Rate &#8377;</th>
                <th>Total &#8377;</th>
            </tr>
            <tr>
                {% for bill_values in bill_values %}
                <td>
                    {{bill_values.0}}
                    {%for value in bill_values.1%}
                    {{value}}
                    {% endfor %}
                </td>
                <td>
                    {%for value in bill_values.2%}
                    {% if not forloop.last %}
                    {{value}}
                    {% endif %}
                    {% if value == 'no_unit' and forloop.last %}
                    sample/s
                    {% elif value != 'no_unit' and forloop.last %}
                    {{value}}
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {%for value in bill_values.3%}
                    {{value}}
                    {% endfor %}
                </td>
                <td id="total">
                    {{bill_values.4}}
                </td>
            </tr>
            {% endfor %}
            {% if total_discount %}
            <tr>
                <td>Discount</td>   
                <td colspan="2" rowspan="{{tax_count}}"></td>
                <td id="total">{{total_discount}}</td>
            </tr>
            {% endif %}
            <tr>
            <td><b>Total </b></td>
                {% if total_discount %}
                {% else %}
                    <td colspan="2" rowspan="{{tax_count}}"></td>
                {% endif %}
                <td id="total"><b>{{total_cost}}</b></td>
            </tr>
            {% if delivery_charges != 0 %}
            <tr>
                <td>Transportation Charges</td>
                <td id="total">{{delivery_charges}}</td>
            </tr>
            <tr>
                <td>Total Amount</td>
                <td id="total">{{totalplusdelivery}}</td>
            </tr>
            {% endif %}
            <tr>
                {% if taxes_applied %}
                {% for taxesapplied in taxes_applied %}
                <td> {{ taxesapplied.surcharge_name }} @ {{ taxesapplied.surcharge_value }} % </td>
                <td id="total">  {{taxesapplied.tax }} </td>
            </tr>
            {% endfor %}
            {% endif %}
            <tr>
                <td><b>Total &#8377; </b>(Rupees {{total_in_words}} only)</td>
                <td id="total"><b>{{grand_cost}}</b></td>
            </tr>
        </table>
        <div>
    {% endblock %}
    <!-- Dean is liable to change-->
</body>
</html>
