{% extends 'bill_base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    {% block title %}
    <title>Bill</title>
    {% endblock %}
    {% load set_var %}
</head>
<body>
    {% block content %}
    <div class="container">
        <h2> Bill</h2>
    </div>
    <div class = "bill-left">
        <div><span id ="highlight">STC No: </span>{{ stc_no.stc_no }} </div>
        <div><span id ="highlight">PAN No. </span>{{ pan_no.pan_no }} </div>
        <div><span id ="highlight">No. </span>GNDEC/TCC/B/{{id}} <span id = "dated"><span id ="highlight">Dated : </span>{{ date.date}}</span></div>
        <p> To, </p>
        <p> {{purchase_order.delivery_address}} </p>
        <p> {{buyer_name.company}}</p>
        <p>{{buyer.buyer__first_name}} {{buyer.buyer__last_name}}, {{address.address__street_address}} {{address.address__city}}
            {% if address.address__pin != 'None' %}
            -{{address.address__pin}},
            {% endif %}
            {{address.address__province}}</p>
            <div><span id ="highlight"> Ref: </span>{{ref.reference}}</div>
            <div><span id ="highlight"> Site: </span>{{site.delivery_address}}</div>
        </div>
        <table class="data" border="1px">
            <tr>
                <th>Charges For Following</th>
                {% if suspense != 1 %}
                <th>Description</th>
                <th>Per</th>
                {% endif %}
                <th>Total</th>
            </tr>
            <tr>
                {% for bill_values in bill_values %}
                <td>
                    {{bill_values.0}}
                    {%for value in bill_values.1%}
                    {{value}}
                    {% endfor %}
                </td>
                {% if suspense != 1 %}
                <td>
                    {%for value in bill_values.2%}
                    {{value}}
                    {% endfor %}
                    sample/s
                </td>
                {% endif %}
                {% if suspense != 1 %}
                <td>
                    {%for value in bill_values.3%}
                    {{value}}
                    {% endfor %}
                </td>
                {% endif %}
                <td>
                    {{bill_values.4}}
                </td>
            </tr>
            {% endfor %}
            {% if total_discount %}
            <tr>
                <td>Discount</td>   
                {% if suspense != 1 %}
                <td colspan="2" rowspan="{{tax_count}}"></td>
                {% endif %}
                <td>{{total_discount}}</td>
            </tr>
            {% endif %}
            {% if suspense != 1 %}
            {% if delivery_charges %}
            <tr>
                <td>Transportation</td>
                {% if total_discount %}
                {% else %}
                    {% if suspense != 1 %}
                    <td colspan="2" rowspan="{{tax_count}}"></td>
                    {% endif %}
                {% endif %}
                <td>{{delivery_charges}}</td>
            </tr>
            {% endif %}
            {% endif %}
            <tr>
                <td><b>Total </b></td>
                {% if total_discount or delivery_charges %}
                {% else %}
                    {% if suspense != 1 %}
                    <td colspan="2" rowspan="{{tax_count}}"></td>
                    {% endif %}
                {% endif %}
                <td><b>{{total_cost}}</b></td>
            </tr>
            <tr>
                {% if taxes_applied %}
                {% for taxesapplied in taxes_applied %}
                {% for surcharge in surcharge %}
                {% if surcharge.id == taxesapplied.surcharge %}
                <td> {{ surcharge.tax_name }} @ {{ surcharge.value }} % </td>
                {% endif %}
                {% endfor %}
                <td>  {{taxesapplied.tax }} </td>
            </tr>
            {% endfor %}
            {% endif %}
            <tr>
                <td><b>Total </b></td>
                <td><b>{{grand_cost}}</b></td>
            </tr>
        </table>
        <div>
    {% endblock %}
    <!-- Dean is liable to change-->
</body>
</html>