<!DOCTYPE html>
<html lang="en">
<head>
<meta charset='UTF-8'>
        <title>bill</title>
    
</head>


<body>
    <div style="text-align:center">
        {{header.header | safe}}
        <h2 style="text-align:center;font-size:175%;"> Bill</h2>
    </div>
     
    <p style="font-size:100%">STC No. {{ stc_no.stc_no }}</p>
    <p style="font-size:100%;text-align:left;">PAN No. {{ pan_no.pan_no }} &nbsp; &nbsp;<span style="float:right;">Dated : {{ date.date}} </p>
    <p> To, </p>
    <p> {{purchase_order.delivery_address}} </p>
    <p> {{buyer_name.company}}</p>
    <p> Buyer Id: {{buyer}} </p>
    <p> Ref: {{ref.reference}}</p>
    <p> Site: {{site.street_address}}, {{site.city}}-{{site.pin}}, {{site.province}} </p>

    <style>
        table,th,td
        {
            border:1px solid black;
            border-collapse: collapse;
        }
        th,td
        {
            padding-left: 10px;
        }
        th,td
        {
            border-style:inset>
            table
            {
                table-layout:fixed;
            }
    </style>

    <div style="table-align:center">
        <table style="width:1200px;align:center;">
            <tr>
                <th>Charges For Following</th>
                <th>Description</th>
                <th>Per</th>
                <th>Total</th>
            </tr>
        
            
            <tr>
                {% for purchased_item in purchased_item %}
            <td>
                {{purchased_item.purchased_item__item__category__name}}: 
                {% for values in values %}
                {% if purchased_item.purchased_item__item__category == values.purchased_item__item__category %}
                {{ values.purchased_item__item__name }},
            {% endif %}
            {% endfor %}
            </td>
            <td>
                {% for values in values %}
                {% if purchased_item.purchased_item__item__category == values.purchased_item__item__category %}
                {{ values.purchased_item__qty }},
                {% endif %}
                {% endfor %}
                sample./s
            </td>
            
            <td>
                {% for values in values %}
                {% if purchased_item.purchased_item__item__category == values.purchased_item__item__category %}
                {{ values.purchased_item__item__price_per_unit }},
                {% endif %}
                {% endfor %}
            </td>

            <td>
            {% for cost in cost %}
            {% if purchased_item.voucher_no == cost.voucher_no and purchased_item.session == cost.session %}
            {{ cost.total }}
            {% endif %}
            {% endfor %}
            </td>
            </tr>
            {% endfor %}



{% if total_discount %}
<tr>
    <td>Discount</td>
    <td  colspan="2" rowspan="{{tax_count}}"></td>
    <td>{{total_discount}}</td>
</tr>
{% endif %}

            <tr>
                <td><b>Total </b></td>
                {% if total_discount %}
                {% else %}
                <td  colspan="2" rowspan="{{tax_count}}"></td>
                {% endif %}
                <td><b>{{total_cost}}</b></td>
            </tr>


            <tr>
                {% if taxes_applied %}
                {% for taxesapplied in taxes_applied %}
                {% for surcharge in surcharge %}
                {% if surcharge.id == taxesapplied.surcharge %}
                <td> {{ surcharge.tax_name }} @ {{ surcharge.value }} % </td>
                {% endif %}
                {% endfor %}
                <td>  {{taxesapplied.tax }} </td>
            </tr>
               
            {% endfor %}
  
            {% endif %}
            
{% if delivery_charges %}
<tr>
    <td>Transportation</td>
    <td>{{delivery_charges}}</td>
</tr>
{% endif %}
            <tr>
                <td><b>Total </b></td>
                <td><b>{{grand_cost}}</b></td>
            </tr>
        
        </table>
    </div>

    <div style="float:right;text-align:bottom">
        <!-- Dean is liable to change-->
        <p> Dean Of Training And Consultancy Cell </p> 
    </div>  

</body>

</html>


