<html>
<head>
<link rel="stylesheet" type="text/css" href="a.css" /><title>Receipt</title></head>

{{header.header | safe}}
<center><h3><b>RECEIPT</h3>  </b></center>
<br/>


<div align="left" style="position:absolute;top:220px;left:0px;"> Receipt No. : {{receiptno}}</div>
<div align="right" style="position:absolute;top:220px;right:0px;">Dated : {{date}} </div>
<br/><br/><br/>

<div align="left">Received a sum of Rs.{{cost.amount_received}} (Rupees  {{ amount }}only) from  <i> {{buyer.company}}, {{address.street_address}}, {{address.city}}-{{address.pin}}, {{address.province}} by {{method.mode_of_payment__method}} on account of Testing of
{% for value in material %}
{{value.item__category__name}},
{% endfor %}.</div>


<div style="position:absolute;right:300px;top:450px;"><b> Cashier</b></div>

</body>
</html>

