{% extends 'bill_base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset='UTF-8'>
{% block title %}
        <title>Service Tax Details</title>
{% endblock %}
{% load set_var %} 
</head>

<body>
    {% block content %}

    <div class="container">
        <br><br><br>
        <h2>Tax Details</h2>
    </div>
    <div id = "pos-right">No.TCC Job : {{ id }} </div>
<div id = "pos-right">Dated : {{bill.purchase_order__date_time.date}} </div>
        <table class="data" border="1px">
            
            <tr>
            <tr>
                <td>
                	Total
                </td>
            	<td>
            		{{bill.total_cost}}
            	</td>
            </tr>
                {% for value in details %}
            <td>
                {{ value.surcharge__tax_name}}@{{ value.surcharge__value }}
            </td>
            <td>
            	{{ value.tax }}
            </td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                	Total Amount
                </td>
            	<td>
            		{{grand_total}}
            	</td>
            </tr>



        {% endblock %}
        <!-- Dean is liable to change--> 

</body>

</html>
