{% extends 'bill_base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    {% block title %}
    <title>Service Tax Details</title>
    {% endblock %}
    {% load set_var %}
</head>
<body>
    {% block content %}
    <div class="container">
        <br><br><br>
        <h2>Tax Details</h2>
    </div>
    <div class="taxtable">
      <table>
        <tr>
          <td>No. TCC Job</td>
          <td>:</td>
          <td>{{id}}</td>
        </tr>
        <tr>
          <td>Dated</td>
          <td>:</td>
          <td>{{bill.purchase_order__date_time.date}}</td>
        </tr>
      </table>
    </div>
    <table class="data" border="1px">
        <tr>
            <tr>
                <td>
                	Total
                </td>
                <td>
                  {{bill.totalplusdelivery}}
              </td>
          </tr>
          {% for value in details %}
          <td>
            {{ value.surcharge__tax_name}}@{{ value.surcharge__value }}
        </td>
        <td>
           {{ value.tax }}
       </td>
   </tr>
   {% endfor %}
   <tr>
    <td>
       Total Amount
   </td>
   <td>
      {{grand_total}}
  </td>
</tr>
{% endblock %}
<!-- Dean is liable to change-->
</body>
</html>