{% extends 'bill_base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    {% block title %}
    <title>Programme Letter</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <div>No. TCC/T/ <span id = "dated">Dated: {{ vehicle.letter_date }}</span></div>
    <p>To</p>
    <div>{{data.name}},</div>
    <div>{{data.street_address}},</div>
    <div>{{data.district}}
    {% if data.pin != 'None' and data.pin != '' %}
    -{{data.pin}}
    {% endif %},</div>
    <div>{{data.province}}.</div>
    <p>Sub: {{data.letter_subject}}</p>
    <p>Sir,</p>
    <p>The {{vehicle.team_name__team_name}}</p>
    <ol>
    {% for value in staffinteam %}
    <li>{{value.staff__name}}</li>
    {% endfor %}
    </ol>
    <p>will be reaching <b>at {{data.site}} on {{data.date}} at {{data.time}}.</b> You are requested to depute your representative to be available at the above mentioned place, to show the site to the testing party.</p>
    <br><br>
    Dean Testing & Consultancy
    <br><br><br>
    <b><div>Vehicle No. {{vehicle.vehicle__vehicle_no}}</div>
    <div>{{vehicle.vehicle__vehicle_name}}</div></b>
    {% endblock %}
</body>
</html>
