{% extends 'base.html' %}
{% load i18n %} {% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
   {% block title %}
   <title>Change Request</title>
   {% endblock %}
</head>
<body>
  {% block content %}
  {% if messages %}
                <div class="alert alert-success">
                    <p>{{ messages }}</p> 
                </div>
                {% endif %}
  <div class='change_request'>
    <table>
       <tr>
          <th>Client:</th>
          <td>{{details.purchase_order__buyer__first_name}}&nbsp;{{details.purchase_order__buyer__last_name}}
           &nbsp;{{details.purchase_order__buyer__customer__title}}</td>
       </tr>
       <tr>
           <th>Address:</th>
           <td>{{details.purchase_order__buyer__customer__address__street_address}}&nbsp;
              {{details.purchase_order__buyer__customer__address__district}}</td>
          </tr>
          <tr>
           <th>Mode Of Payment:</th>
           <td>{{details.purchase_order__mode_of_payment__method}}</td>
       </tr>
   </table>
</div>
<table>
    <tr>
        <td>
        </td>
    </tr>
</table>
<form action='{% url 'catalog:request_save' %}?order_id={{order_id}}&session={{session}}' method='POST'>
    <table class="changeform">
        {% csrf_token %}
        <tr>
            <th><label>Previous Total:</label></th>
            <th><input name="previous_total" class='form-control' value="{{bill.grand_total}}" readonly="readonly" type="text"
                id="previous_total" /></th>
            </tr>
            <tr>
                <th><label>Surcharge:</label></th>
                <th><label>Previous:</label></th>
                <th><label>New:</label></th>
            </tr>
            {% for value in surcharge %}
            <tr>
                <td><input name="surcharge" class='form-control' value="{{value.surcharge__tax_name}}" readonly="readonly" type="text" /></td> 
                <td><input name="previous_value" class='form-control' value="{{value.tax}}" readonly="readonly" type="text" id="previous_{{value.id}}" /></td> 
                <td><input name="new_value" type="number" class='form-control new_value' placeholder="New Value" id="{{value.id}}" /></td>
            </tr>
            {% endfor %}
            <tr>
                <th><label>New Total:</label></th>
                <th><input name="new_total" class='form-control' readonly="readonly" type="text" id="new_total" /></th>
            </tr>
        </table>
        <label for="id_description">Description:</label>
        <textarea cols="40" name="description" rows="5" placeholder="Description"></textarea>
        <input type="submit" class="btn btn-info btn-large" value="Send Request" name='button1' id='button1' />
    </form>
    {% endblock %}
</body>
</html>
