<html>

    <head>
        <style type="text/css">
            span.s1{margin-left: 9%;}
            span.s2{margin-left: 8%;}
    	    span.s3{margin-left: 10%;}
    	    span.sm{margin-left: 4%;}
        </style>
        <title>Transport</title>
        <script src="addAnother.js" language="Javascript" type="text/javascript"></script>
    </head>
    
    <body>
        <form action="/catalog/transp/" method="POST">{% csrf_token %}
            {{TransportFormA.as_p}}
            <!-- <div id="dynamicInput" style="display: none;">
                {{TransportFormB.as_p}}
            </div> -->
            <input type="submit" value="Generate Bill" name="button1" />
            <a href="javascript:;" onclick="document.getElementById('TransportFormA').submit();"><input type="submit" value="Add Another" name="button2" onClick="addInput('dynamicInput');"> </a>
        </form>      
    </body>

</html>
