{% extends 'base_register.html' %}
{% load i18n %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   {% block title %}
   <title>Order added</title>
   {% endblock %}
</head>
<body>
  {% block content %}
  <div class='order-success'>
   <p class='success-message'>Order added <span class='green'>
      Successfully</span></p>
      <table>
       <tr>
          <th>Client:</th>
          <td>{{details.purchase_order__buyer__first_name}}&nbsp;{{details.purchase_order__buyer__last_name}}
           &nbsp;{{details.purchase_order__buyer__customer__title}}</td>
       </tr>
       <tr>
           <th>Address:</th>
           <td>{{details.purchase_order__buyer__customer__address__street_address}}&nbsp;
              {{details.purchase_order__buyer__customer__address__district}}</td>
          </tr>
          <tr>
           <th>Mode Of Payment:</th>
           <td>{{details.purchase_order__mode_of_payment__method}}</td>
       </tr>
   </table>
   <div class='order-success-options'>
    <table>
        <tr>
           <th colspan='3'><h3>Options</h3></th>
       </tr>
       <tr>
          {% if details.receipt_no_of_session %}
           <td><a target="_blank" href = '{% url 'prints:receipt' %}?order_id={{order_id}}'><input type="button" class="btn btn-info btn-large" name="" value="Receipt"></a></td>
           {% else %}
           <td><a target="_blank" href = '{% url 'prints:receipt' %}?order_id={{order_id}}'><input type="button" class="btn btn-info btn-large" name="" value="Confirm"></a></td>
           {% endif %}
           <td></td>
           <td><a target="_blank" href = '{% url 'voucher:voucher_show' %}?order_id={{order_id}}'><input type="button" class="btn btn-info btn-large" name="" value="Voucher"></a></td>
       </tr>
       <tr>
           <td><a target="_blank" href = '{% url 'prints:bill' %}?order_id={{order_id}}'><input type="button" class="btn btn-info btn-large" name="" value="Bill"></a></td>
           <td></td>
           <td><a target="_blank" href = '{% url 'prints:tax' %}?order_id={{order_id}}'><input type="button" class="btn btn-info btn-large" name="" value="Tax Details"></a></td>
       </tr>
       {% if suspense_flag == 1 %}
       <tr>
           <td></td>
           <td><a target="_blank" href = '{% url 'prints:suspense_bill' %}?order_id={{order_id}}'><input type="button" class="btn btn-info btn-large" name="" value="Suspense Bill"></a></td>
           <td></td>
       </tr>
       {% endif %}
           </table>
       </div>
   </div>
   {% endblock %}
</body>
</html>