{% extends 'base_register.html' %}
{% load i18n %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
 {% block title %}
 <title>Request</title>
 {% endblock %}
</head>
<body>
  {% block content %}
  <div class = 'list-registers'>
   <div class='view-list'>
    <table>
     <tr>
      <th>Initiator:</th>
      <td>{{initiator.initiator}}</td>
    </tr>
    <tr>
      <th>Date of Initiation:</th>
      <td>{{initiation_date.initiation_date}}</td>
    </tr>
    {% if request_status != 'Waiting' %}
    <tr>
      {% if request_status == 'Confirmed' %}
      <th>Date of Confirmation:</th>
      {% else %}
      <th>Date of Cancellation:</th>
      {% endif %}
      <td>{{request_response.request_response}}</td>
    </tr>
    {% endif %}
    <tr>
      <th>Status:</th>
      <td>{{request_status}}</td>
      <tr>
        <th>Description:</th>
        <td>{{description.description}}</td>
      </tr>
    </table>
    <div class="diff">
     <h4>Detailed Diff</h4>
     <table border='1px'>
      <tr>
       <th>Entity</th>
       <th>Previous Value</th>
       <th>New Value</th>
     </tr>
     <tr>
       <td>Total</td>
       <td><font id="previous_value">{{previous_total.previous_total}}
       </font></td>
       <td><font  id="new_value">{{new_total.new_total}}</font></td>
     </tr>
     {% for value in surcharge_diff %}
     <tr>
      <td>{{value.surcharge__surcharge__tax_name}}</td>
      <td><font id="previous_value">{{value.previous_value}}
      </font></td>
      <td><font id="new_value">{{value.new_value}}
      </font></td>
    </tr>
    {% endfor %}

  </table>
  <div class = "options">
   <a class = 'accept_request' href = '{{id}}'>
    <input type="button" class="btn btn-info btn-large"
    name="" value="Request Response"></a>
  </div>
</div>
</div>
</div>
{% endblock %}
</body>
</html>