{% load i18n %} {% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% block js %}
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>
    <script src="{% static 'js/registers.js' %}"></script>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/list_result.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bill.css' %}">

   
</head>
<body>
    <div class = "wrapper">
        <div class="white-board">
            <div class ="main-box" id="c-panel"> 
                <header class="primary-branding">
                   <a href='/'> <span class="pb-dark">LIBRE</span><span class="pb-light">HATTI</span></a>
                </header>
            </div>
            <div class ="account">
                <nav id="primary_nav_wrap">
<ul>
  <li><a href="#"><img width="40px" src="{% static 'icons/settings.png' %}"></a>
    <ul>
      <li><a href="{% url 'admin:index' %}">Admin panel</a></li>
      <li><a href="{% url 'admin:password_change' %}">Change Password</a></li>
      <li><a href="{% url 'admin:logout' %}">Log out</a></li>
    </ul>
  </li>
</ul>
</nav>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
