{% load i18n %} {% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
        <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'>
        </script>
        <script src="{% static 'js/jquery-ui.min.js' %}">
        </script>
	    <script src="{% static 'js/bootstrap-timepicker.min.js' %}">
        </script>
        <script src="{% static 'js/accordion.js' %}">
	</script>
        <script type="text/javascript">
$('#id_sub_category').attr('disabled', 'disabled');
$(document).ready(function(){
    $('#id_parent_category').change(function(){
        $('#id_sub_category').empty();
        $('#id_sub_category').removeAttr('disabled');
        parent_id = $(this).val();
        request_url = '/print/filter_sub_category/?parent_id=' + parent_id;
        $.ajax({
            url: request_url,
            datatype: 'json',
            success: function(data){
                $.each(JSON.parse(data), function(key,value) {
                    $('#id_sub_category').append('<option value="' + key + '">' + value + '</option>');
                    });
            }
       })             
    })
});
$(function() {
    $('#id_start_date').datepicker({
        changeMonth: true,
        changeYear: true,dateFormat:"yy-mm-dd"
    })
    $('#id_start_date').datepicker( "option", "showAnim", "clip" )
    $('#id_end_date').datepicker({
        changeMonth: true,
        changeYear: true,dateFormat:"yy-mm-dd"
    })
    $('#id_end_date').datepicker( "option", "showAnim", "clip" )
    .datepicker('widget').wrap('<div class="ll-skin-lugo"/>');
    $('#id_date').datepicker({
        changeMonth: true,
        changeYear: true,dateFormat:"yy-mm-dd"
    })
    $('#id_start_test_date').datepicker({
        changeMonth: true,
        changeYear: true,dateFormat:"yy-mm-dd"
    })
    $('#id_end_test_date').datepicker({
        changeMonth: true,
        changeYear: true,dateFormat:"yy-mm-dd"
    })
    $('#id_Date_of_generation').datepicker({
        changeMonth: true,
        changeYear: true,dateFormat:"yy-mm-dd"
    })
    $('#id_departure_time_from_tcc').timepicker();
    $('#id_arrival_time_at_site').timepicker();
    $('#id_departure_time_from_site').timepicker();
    $('#id_arrival_time_at_tcc').timepicker();   
});       
</script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-timepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/list_result.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bill.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/accordion.css' %}">
</head>
<body>
    <div class = "wrapper">
        <div class="white-board">
            <div class ="main-box" id="c-panel"> 
                <header class="primary-branding">
                   <a href='/'> <span class="pb-dark">LIBRE</span><span class="pb-light">HATTI</span></a>
                </header>
                {% block content %}{% endblock %}
            </div>
            <div class ="account">
                <nav id="primary_nav_wrap">
<ul>
  <li><a href="#"><img width="40px" src="{% static 'icons/settings.png' %}"></a>
    <ul>
      <li><a href="{% url 'admin:index' %}">Admin panel</a></li>
      <li><a href="{% url 'admin:password_change' %}">Change Password</a></li>
      <li><a href="{% url 'admin:logout' %}">Log out</a></li>
    </ul>
  </li>
</ul>
</nav>
            </div>

        </div>
    </div>
