{% load i18n %} {% load staticfiles %}
<!DOCTYPE html>
<html lang="en"> {% lang specifies lanuage code %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block css}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bill.css' %}">
    <style>
        body{
            font-size:1.3em;
        }
    </style>
    {% endblock css %}
</head>
<body>
 {% block content %}
<div class='main_header'>
    {{header.header | safe}}
<hr>
</div>
<div class='logo'>                                                    
 <img src='{{STATIC_URL}}/css/images/logo.png'   
 class=".img-responsive">                                             
 </div>
    <div class = "bill-wrapper">
        {% block content %}{% endblock %}
    </div>
    {{footer.footer | safe}} 
   {% endblock %}
</body>
</html>
