{% load i18n %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bill.css' %}">
    <style>
        body{
            font-size:1.3em;
        }
    </style>
</head>
<body>
<div class='main_header'>
    {{header.header | safe}}
<hr>
</div>
<div class='logo'>                                                    
 <img src='{{STATIC_URL}}/css/images/logo.png'   
 class=".img-responsive">                                             
 </div>
    <div class = "bill-wrapper">
        {% block content %}{% endblock %}
    </div>
    {{footer.footer | safe}} 
    {% block extracontent %}
    {% endblock %}
</body>
</html>
