{% extends base_template|default:"base.html" %} {% load i18n %} {% block content %}

{% if nocategory %}
<div class="text-center">
    <h1>No Categories. Please add some Categories</h1>
    <a href="#" class="btn btn-primary btn-large">Add Category</a>
</div>
{% else %}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-3 column well">
            <ul class="list-unstyled">
                <li>Electronics</li>
                <li>Mobile Phones</li>
            </ul>
        </div>
        <div class="col-md-1 column">
        </div>
        <div class="col-md-8 column">
            <div class="row clearfix">
                <div class="col-md-3 column well">
                    Product 1
                </div>
                <div class="col-md-3 column well">
                    Product 2
                </div>
                <div class="col-md-3 column well">
                    Product 3
                </div>
                <div class="col-md-3 column well">
                    Product 4
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
