<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<div class = "wrapper">
		<div class="white-board">
			<div class ="main-box" id="c-panel"> 
				<header class="primary-branding">
					<span class="pb-dark">LIBRE</span><span class="pb-light">HATTI</span>
				</header>
				<ul class="panel-items">
					<li class="panel-item" id="new-customer"></li>
					<li class="panel-item" id="new-order"></li>
					<li class="panel-item" id="search"></li>
					<li class="panel-item" id="registers"></li>
					<li class="panel-item" id="lab-report"></li>
					<li class="panel-item" id="porforma"></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
