<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Products</title>
    {% load static %}
    <link href="{% static 'css/product_list.css' %}" media="all" rel="stylesheet" type="text/css">
</head>
<body>
    {% load mptt_tags %}
    <div class = "wrapper">
        {% recursetree nodes %}
        <div class="products-list">
            {% if not node.is_leaf_node %}
            <h2 class="parent-category"> {{ node.name }} </h2>
            <div class = "child-categories">
                {{ children }}
            </div>
            {% else %}
            {% for key,value in products_dict.items %}
            {% for category,products in value.items %}
            {% if key == node.id %}
            <h3 class="leaf-category"> {{ category }} </h3>
            {% for product, attributes in products.items %}
            <div class="product-container">
              <h4 class="product-head"> <span class="product-name"> {{ product | safe}} </span> <span class="product-price"> 
                  &#8377; {{ product.price_per_unit }}/- </span> </h4>
                  {% for att in attributes %}
                  <p class="attribute-row"> <span class="att-name"> {{att.attribute}} </span> <span class="att-value">  {{att.value}}  </span></p>
                  {% endfor %}
              </div>
              {% endfor %}
              {% endif %}
              {% endfor %}
              {% endfor %}
              {% endif %}
          </div>
          {% endrecursetree %}
      </ul>
  </body>
  </html>