<html>
<head>
<title>Lab Reports</title>
</head>
<body>
    <form action='librehatti/print/views/add_material' method='post'> 
    {% csrf_token %}
    <b>Material:</b>
    {% for name in forms.material_name %}
    <select>
        <option value='{{name}}' > {{name}} </option> 
    </select>
    {% endfor %}
    <p><b>Time span:</b></p>
    <p>From:<small>(dd/mm/yyyy)</small> <input type="text" name="From" />
        To:<small>(dd/mm/yyyy)</small> <input type="text" name="To" /></p>
    <input type="submit" value="Submit" />
    </form>
</body>
</html>
