@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);

body{
	background-color:#fafafa;
	font-family: 'Open Sans', 'sans-serif';
}

.bill-wrapper {
	width:70%;
	margin-left: auto;
	margin-right: auto;
}

.testingfieldstaff{
	width:40%;
	float:left;
	margin-top: 20px;
}

.testinglabstaff {
	width:40%;
	float:left;
	margin-left: 20px;
	margin-top: 20px;
}

.container{
	position: relative;
	margin-top: -20px;
	text-align: center;
}

#dated{
	float: right;
}

table{
	border-collapse: collapse;
	width: 100%;
}

.signed{
	float: right;
	margin-top: 20px;
	margin-bottom: 50px;
	position: relative;
	font-weight: 600;
}

#highlight{
	 font-weight: 600;
}
#base{
	position: relative;
	float:right;
	text-align:bottom;
}
#transport_content{
	text-align: center;
}


.position{
	float:left;
	padding-top:20px;
	position: relative;
}

#pos-right{
	text-align:right;
}

.footertable{
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    width: 105%;
    position: relative;
}

.footertable table td{
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 25%;
}

.footer1{
	padding-top: 60px;
	float: right;
	font-weight: bold;
}

#declaration{
	float:left;
}

#declare-sign{
	float:right;
	margin-top: 30px;
}

#notelist{
	position: relative;
}

#account{
	margin-left: 40px;
	width: 80%;
}

#account td{
	text-align: left;
}

#othercharges table{
	width:50%;
}

#othercharges table td{
	width:70%;
}

#transportbill{
	text-align:right;
	margin-top: 60px;
}

#transportfooter{
	padding-top:25px;
	margin-left: auto;
	margin-right: auto; 
	width:55%
}