/*<style>
                     h1{text-align:center;font-size: 24px;}
                     h1.a{text-align:center;font-size: 14px;}
                     h1.b{text-align:center;font-size: 24px;}
                     p.c{text-align: center;}
                     h2.d{text-align: center;font-size:175%;padding-top:18px;}
                     p.e{padding-top:15px;font-size:100%;}
                     p.f{position:absolute;top:350px;left:0px;}
                     p.g{position:absolute;top:350px;right:0px;}
                     p.h{position:absolute;right:30px;top:1050px;}
                     p.i{position:absolute;top:1050px;}
                     p.j{position:absolute;right:30px;top:1150px;}
                     table, th, td{margin-top:80px;
                                   border: 1px solid black;width : 80%;}
                     th,td{padding:3px;border-style:inset;}
                     table{table-layout:fixed;margin-left:10%}
                </style>

*/
h1
{text-align: center;
 font-size: 24px;}

.a{
    text-align: center;
    font-size: 14px;
}
.b{
    text-align: center;
    font-size: 24px;
}
