
.list-registers{
	font-family:'Open Sans', 'sans-serif';
	margin-top: 50px;
	position: relative;
}

.view-list {
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

table{
	width: 100%;
	border-collapse: collapse;
}

td{
	padding: 5px 5px 5px 5px;
}

a{
	text-decoration: none;
	color: #06b9fb;
}

a:hover{
	text-decoration: none;
	color: #0f84b0;
}

.list-results{
	font-family:'Open Sans', 'sans-serif';
	margin-top: 30px;
}

.list-results h2{
	text-align: center;
	margin-bottom: 20px;
}

#save-regiter-option{
	position: absolute; 
	bottom: -20px; 
	right: 20px;
	width: 120px;
}

.list-results #date-range{
	text-align: center;
	margin: -15px 0px 10px 0px;
}

.search table{
	margin-left: auto;
	margin-right: auto;
	width: 72%;
}

.search table td{
	text-align: center;
}

.shrinked-table{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
