@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body{
	background-color:#fafafa;
	color:#333;
	font-family: 'Open Sans', sans-serif;
	line-height:1.5;
}
.wrapper{
	max-width:700px;
	margin:auto;
}

h2 {
	text-align:center;
	font-weight:400;
	font-size:36px;
}

.leaf-category{
	Text-align:center;
	display:block;
	border-radius:5px;
	padding-left:10px;
}

.product-container{
	border:1px solid #ccc;
	background:#fff;
	border-radius:5px;
	margin-top:10px;
	padding: 0px 10px 0px 10px; 
	overflow:hidden;
	display:block;
}

.product-head {
	display:block;
	width:100%;
	overflow:hidden;
	border-bottom: 1px dashed #666;
}

.product-name, .product-price , .att-name, .att-value{
	float:left;
	width:50%;
}

.product-price,.att-value {
	text-align:right;
}

.attribute-container {
	display:block;
	overflow:hidden;
}
