@font-face {
  font-family: 'Bitter Fonts';
src:
    url('../fonts/Bitter/Bitter-Regular.ttf');
}
* {
	margin:0px;
	padding:0px;
}
body{
	color:#333;
	line-height:2;
	font-family:'Bitter Fonts', serif;
}
.wrapper{
	max-width:700px;
	margin:auto;
}

h2 {
	text-align:center;
	font-weight:400;
	font-size:24px;
}

.leaf-category{
	font-size:18px;
	Text-align:center;
	display:block;
	padding-left:5px;
}

.product-container{
	background:#eaeaea;
	padding: 0px 10px 0px 10px;
	overflow:hidden;
	display:block;
	page-break-inside: avoid;
	margin-bottom:10px;
}

.product-head {
	display:block;
	width:100%;
	overflow:hidden;
	border-bottom: 1px solid #ccc;
	font-size:16px;
	font-weight:400;
}

.product-name, .product-price , .att-name, .att-value{
	float:left;
	width:50%;
}
.att-name, .att-value {
	font-size:12px;
}

.product-price,.att-value {
	text-align:right;
}

.attribute-container {
	display:block;
	overflow:hidden;
}
