@font-face {
  font-family: 'Open Sans Fonts';
src:
    url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

body{
	background-color:#fafafa;
	font-family: 'Open Sans Fonts', 'sans-serif';
}
.voucher-no{
	position:absolute;
	right:0px;
	top:275px;
}
.date{
	position:absolute;
	right:0px;
	top:295px;
}
.designation{
	position:absolute;
	right:0px;
	top:275px;
}
.receipt-detail{
	position:absolute;
	left:197px;
}
#pos-left{
	text-align: left;
}
#pos-right{
	text-align: right;
}
table{
	border:1px;
	width:100%;
	border-collapse: collapse;
}
