<html>
<head>
	<style type="text/css">
	h1{margin-left: 40%;}
	h5.as{margin-left: 37%;} 

	
	 	table{width: 60%; margin-left:15%;}	
		th{padding:10px;}
		td{padding-left:40px;
			padding-top: 25px;
		    padding-bottom: 25px;}

		h9.bs{text-align:center;}
		
	</style>

<title>Proforma Bill</title>  
</head>


<body>

<h1>{{quoted_order.organisation}}</h1>
<h5 class='as'>{{quoted_order.delivery_address}}</h1>

<h9 class="bs"><br>Ph:{{quoted_order.organisation.telephone}} &nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;Fax:{{quoted_order.organisation.faxno}} </center>
                              </p>





<div align='left'>Buyer Id : {{ quoted_order.buyer_id.username }}<br>STC No. AAATN1978LSD001<br>PAN No. AAATN1978L</div>


<h2 align="center">PROFORMA BILL</h2>
<br>
	<table border="1" >
	<tr>
 		<th>Items </th>
		<th> Category </th>
		<th> Unit Price </th>
                <th> Quantity </th>
		<th> Total</th>
		
	</tr>  
 
{% for i in quoted_item %}
<tr>
{% for j in i%} 
          
                 
		<td> {{j}}</td>
		
{% endfor %}		
    </tr>
                 
{% endfor %}
</table>
       <br> Total cost : {{ total_cost}}
</html>
