{% extends 'bill_base.html' %}
<html>
<head>

    <meta http-equiv="refresh" content="15">
    {% load staticfiles %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/bill.css' %}">    
    {% block title %}
    <title>Proforma Bill</title>
    {% endblock %}  
</head>

<body>

   {% block content %}
    <div class="container">
    <h2 >Proforma Bill</h2>
    </div>
    <p ><span id='highlight'>STC No. AAATN1978LSD001</span></p>
    <p><span id='highlight'>PAN No.  AAATN1978L</span></p>
    <p ><span id='highlight'>No. : GNDEC/TCC/B/</span>{{ quoted_order.buyer_id}}</p>
    <p ><span id = "dated"><span id='highlight'>Dated :</span> {{quoted_order.date_time}}</span></p>
    <br><br>

    <p> To,</p>
    <p>{{quoted_order.delivery_address.address}}</span></p>
    <p><span id='highlight'>Organisation:{{quoted_order.organisation.organisation_type}}</span></p>
    <p><span id='highlight'>Buyer Id : {{ quoted_order.buyer_id.username }}</span></p>
    <p><span id='highlight'>Ref: Your Letter No.1,</span></p> 
    <p><span id = "dated"><span id='highlight'>Dated:{{quoted_order.date_time}} , respectively.
    </span></p>

    <table class= "data" border="1" >
        <tr>
            <th>Items </th>
            <th> Category </th>
            <th> Unit Price </th>
            <th> Quantity </th>
            <th> Total</th> 
        </tr>  
 
        {% for i in quoted_item %}
        <tr>
            {% for j in i%}   
            <td> {{j}}</td>
            {% endfor %}    
        </tr>
                 
        {% endfor %}
       
    </table>

    <br> <b> Sum : {{total_cost}}</b>
 <!--Dean is liable to change-->
    <div id= "base">
    <p >I/We here by agree to the terms & conditions as mentioned above</p>
    <p >(Signature of Client/Deptt. Representative)</p>
    </div>
    {% block content %}
</body>
</html>
