{% extends 'bill_base.html' %}  
<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/bill.css' %}">
<meta charset='UTF-8'>
        {% block title %}
        <title>bill</title>
        {% endblock %}
    
</head>


<body>
    {% block content %}
        <div class="container">
        <h2 > Bill</h2>
    </div>
     
    <p ><span id='highlight'>STC No.</span> {{ STC_No }}</p>
    <p ><span id='highlight'>PAN No.</span> {{ PAN_No }}</p>
    <p><span id = "dated"><span id='highlight'>Dated : </span>
    {{ purchase_order.date_time|date:"F j, Y"}} </span></p>
    <p> To, </p>
    <p> {{purchase_order.delivery_address}} </p>
    <p> <span id='highlight'>Organisation:{{purchase_order.organisation.title}}</span></p>
    <p> <span id='highlight'>Buyer Id: {{purchase_order.buyer_id}} </span></p>
    <p> <span id='highlight'>Ref: Your Letter No. {{ L_No}}</span></p> 
    <p> <span id='dated'><span id='highlight'>Dated : </span>{{ purchase_order.date_time|date:"F j, Y"}}
    </span></p>
    <p> <span id='highlight'>Site:</span> </p>

        <table class="data" border="1px">
            <tr>
                <th> S.No. </th>
                <th>Charges For Following</th>
                <th>Description</th>
                <th>Per</th>
                <th>Total</th>
            </tr>

            <tr>
                {% if purchased_item %}
                {% for purchaseditem in purchased_item %}
                <td> {{ forloop.counter }} </td>
                <td> {{ purchaseditem.item__name }} </td>
                <td> {{ purchaseditem.qty }} sample./s  </td>
                <td> {{ purchaseditem.item__price_per_unit }} </td>
                <td>  {{purchaseditem.price }}</td>
            </tr>
   
            {% endfor %}
  
            {% endif %}

            <tr>
                <td><b>Total </b></td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td><b>{{total_cost}}</b></td>
            </tr>
        
        </table>
    </div>

    <div id="base">
        <!-- Dean is liable to change-->
         
    </div>
    {% endblock %}          
</body>

</html>

