{% extends 'base_register.html' %}
{% load i18n %} {% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
   {% block title %}
   <title>Order added</title>
   {% endblock %}
</head>
<body>
  {% block content %}
  <div class='order-success'>
   <p class='success-message'>Order added <span class='green'>
      Successfully</span></p>
      <table>
       <tr>
          <th>Client:</th>
          <td>{{details.buyer__first_name}}&nbsp;{{details.buyer__last_name}}
           &nbsp;{{details.buyer__customer__title}}</td>
       </tr>
       <tr>
           <th>Address:</th>
           <td>{{details.buyer__customer__address__street_address}}&nbsp;
              {{details.buyer__customer__address__district}}</td>
          </tr>
   </table>
   <div class='order-success-options'>
    <table>
        <tr>
           <th><h3>Options</h3></th>
       </tr>
       <tr>
           <td><a target="_blank" href = '{% url 'prints:quoted_bill' %}?quoted_order_id={{quoted_order_id}}'><input type="button" class="btn btn-info btn-large" name="" value="Proforma Bill"></a></td>
           <tr>
           </table>
       </div>
   </div>
   {% endblock %}
</body>
</html>