<html>
<head>
    <style type="text/css">
         h1{text-align:center;font-size: 24px;}
         h1.a{text-align:center;font-size: 14px;}
         h1.b{text-align:center;font-size: 24px;}
         p.c{text-align: center;}
        table{margin-top:150px;width: 60%; margin-left:18%;} 
        th{padding:10px;}
        td{padding-left:40px;
           padding-top: 25px;
           padding-bottom: 25px;}
        p.bs{margin-left: 25%;}
    </style>
 
    <title>Quotes</title>  
</head>

<body>
     {% for quoted_order in QuotedOrder_list %}
     <h1>{{quoted_order.organisation.organisation_type}}</h1>
     <h1 class='a'>{{quoted_order.organisation.tagline}}</h1>       
     <h1 class='b'>{{quoted_order.organisation.title}}</h1>  
     <p class ='c'>{{quoted_order.organisation.address}}</p> 
     <p class='c'><i>Website :</i> {{quoted_order.organisation.quote_url}}
     <i>Email:</i>{{quoted_order.organisation.quote_email1}}
     <i>Ph :</i>{{quoted_order.organisation.telephone}} 
     <i>Fax :</i> {{quoted_order.organisation.fax}}</p>
 
     {% endfor %}

    <table border="1" >
        <tr>
            <th> Client </th>
            <th> Address </th>
            <th> Telephone </th>
            <th> Produce</th>
        </tr>
        {% for m in QuotedOrder_list %}
        <tr>
            <td> {{m.buyer_id.username}}</td>
            <td> {{m.delivery_address}}</td>
            <td> {{m.buyer_id.customer.telephone}}</td>   
            <td>
                <a href="/bills/generateproforma/{{m.id}}" 
                 style="text-decoration:none">
                 <input type="submit" value="Generate Proforma" name="Generate Proforma">
                </a>
                <br>
                <a href="/bills/confirm/{{m.id}}" 
                style = "text-decoration:none">
                <input type="submit" value="Confirm" name="Confirm">
                </a>
             </td>
        </tr>
        {% endfor %}
    </table>
 
</body>
</html>
