<html>
<head>
    <style>
        h1{text-align: center;}
        table{display: inline-block;text-align: center;}
        table,th,td{border: 1px solid black; border-collapse: collapse;}
    </style>
    <title>Quote Table</title>
</head>
<body>
    <h1>Quote Order Table</h1>
    <table>
         <tr><th>Name</th>
         <th>City</th>
         <th>Debit</th>
         <th>Mode Of Payment</th>
         <th>Options</th></tr>
         <tr>
         {% for i in order %}
                 <td>{{i.buyer_id}}</td>
                 <td>{{i.buyer_id.customer.address.city}}</td>
                 <td>{{i.is_debit}}</td>
                 <td>{{i.mode_of_payment}}</td>
                 <td><a href="/bills/quotation/generate?id={{i.id}}">Generate Bill</a></td>
         {% endfor %}
         </tr>
</body>
</html>
